body, html{
  height: 100%;
}
#root{
  height: 100%;
}
.microphone{
  border-radius: 50%;
  display: inline-block;
  height: 34px;
  width: 34px;
  margin-left: 10px;
  img{
    max-height: 100%;
  }
}

.tabs {
  position: relative;
  margin: 0 auto;
  width: 800px;
}
.tabs label {
  color: #555;
  cursor: pointer;
  display: block;
  float: left;
  width: 150px;
  height: 45px;
  line-height: 45px;
  position: relative;
  top: 2px;
  text-align: center;
}

.tabs input {
  position: absolute;
  left: -9999px;
}

#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2,
#tab_3:checked  ~ #tab_l3 {
  background: #fff;
  border-color: #fff;
  top: 0;
  z-index: 3;
}

.tabs_cont {
  background: #fff;
  position: relative;
  z-index: 2;
  height: 230px;
}